.hgignore
*.o
\#*.*
*.cmo
*.cmi
*.*~
*.exe
*.exe.manifest
*.pdf.ps
*.subc.ps
*.hi
OMakefile.omc
OMakeroot.omc
*~
.omakedb*
.subcode_cache
*.bbl
*.blg
*.log
*.out
*.aux
*.def
*.snm
*.nav
*.toc
*.vrb
*.subc.vrb
*.subc.pdf
*.subc.tex
*.vrb
*.ptb
.subcode_cache*
*.orig
*.pdf.eps
.zip
subcode
*.agdai
.DS_Store
*.swp
